@import './reset.css';

:root{
    --primary-color:#ff9854;
    --primary-color-o:#ff985428;
    --theme-line-bgColor:linear-gradient(90deg,#fcaf3f,#fa8c1d,#fcaf3f);
    --van-search-left-icon-color:var(--primary-color) !important;
    --van-tabs-bottom-bar-color:var(--primary-color) !important;
    --van-index-bar-index-active-color:var(--primary-color) !important;
    --van-nav-bar-icon-color:var(--primary-color) !important;
    --van-nav-bar-text-color:var(--primary-color) !important;
}

.top-page{
    position: relative;
    z-index: 2;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
}
